<mat-form-field>
  <input matInput type="password" placeholder="Ancien password" [(ngModel)]="oldPassword">
</mat-form-field>

<mat-form-field>
  <input matInput type="password" placeholder="Nouveau password" [(ngModel)]="newPassword">
</mat-form-field>

<mat-form-field>
  <input matInput type="password" placeholder="Confirmer le nouveau password" [(ngModel)]="confirmPassword">
</mat-form-field>


<p *ngIf="errorMessage"> {{errorMessage}}</p>

<button mat-button (click)="changePassword(oldPassword, newPassword, confirmPassword)">Valider</button>
